<div class="main-container">
<%= form_tag("/time", method: "get") do %>
  
  <label>What time would is the latest you'd like to go to bed?</label>
  <select>
    <option value="9">9pm</option>
    <option value="10">10pm</option>
    <option value="11">11pm</option>
    <option value="12">12am</option>
    <option value="1">1am</option>
    <option value="2">2am</option>
    <option value="3">3am</option>
    <option value="4">4am</option>
  </select>
  </div>
